.snow-text
{
	padding:0;
	color:#fff;
	font-size:8vw;
	margin-left:-1vw;
	position:relative;
	margin:4vh 0 8vh 0;
	text-transform:none;
	display:inline-block;
	font-family:'Kaushan Script', cursive;
	text-shadow:0px 0px 20px #000;
}
.header-text h3
{
	font-family:'Kaushan Script', cursive;
	text-shadow:0px 0px 20px #000;
	font-size:2.2vw;
	border-bottom-width:0px;
	
}
.header-text h3::after{display:none;}
.navbar-light .navbar-brand{font-family:'Kaushan Script', cursive;
	text-shadow:0px 0px 20px #000;color:#f2f4f8;}
	#dark-mode {
    background: #07051a;
    overflow-x: hidden;
    position: relative;
    height: 100%;
}
html
{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;

}
body
{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	color:#fff;
	font-size:18px;
	font-weight:400;
	font-family:'Oswald', sans-serif;
	background-color:#000;
	line-height:1;
}
.bg-container
{
	width:100%;
	height:100%;
	margin:0 auto;
	max-width:1920px;
	background-color:#000;
	background-image:url('img/bg.jpg');
	background-position:top center;
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
	overflow:hidden;
}
p {
    line-height: 1.45em;
}
.nav-bg {
    background: #2a2562 !important;
    padding: 25px 0;
    -webkit-box-shadow: 0 31px 35px rgba(0, 0, 0, .1);
    box-shadow: 0 31px 35px rgba(0, 0, 0, .1);
    opacity:0.90;
}
.bg-container2
{
	width:100%;
	height:100%;
	margin:0 auto;
	max-width:1920px;
	background-color:#000;
	background-position:top center;
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
	overflow:hidden;
}
.bg-container3
{
	width:100%;
	height:100%;
	margin:0 auto;
	max-width:1920px;
	background-color:#000;
	background-position:top center;
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
	overflow:hidden;
}
.parallaxbg2 {
  /* The image used */
  background-image:url('img/santafingers.jpg');

  /* Set a specific height */
  min-height: 1200px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallaxbg4 {
  /* The image used */
  background-image:url('img/santacigar.jpg');

  /* Set a specific height */
  min-height: 1200px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallaxbg5 {
  /* The image used */
  background-image:url('img/santaout.jpg');

  /* Set a specific height */
  min-height: 1200px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.product-slider span{color:#fff;font-size:14px;}
.progress{background:#4a4848;width:100%;}
.p-bars{padding-top:10px;}
.p-bar span{line-height:20px;}
.border-style{padding-bottom:5px;}
.content1{min-height:350px;background-color:rgba(0, 0, 0, 0.5);margin-left:100px;margin-right:100px;margin-top:50px;border-radius:25px;-webkit-box-shadow: 0 31px 35px rgba(255, 255, 255, .2);
    box-shadow: 0 31px 35px rgba(255, 255, 255, .2);padding:25px;}
.content2{min-height:350px;background-color:rgba(0, 0, 0, 0.5);margin-left:100px;margin-right:100px;margin-top:50px;margin-bottom:50px;border-radius:25px;-webkit-box-shadow: 0 31px 35px rgba(255, 255, 255, .2);
    box-shadow: 0 31px 35px rgba(255, 255, 255, .2);padding:25px;}
    .ffpage1{display: flex;
  align-items: center;
  justify-content: center;width:100%;height:100%;}
  .ffpage2{display: flex;
  align-items: center;
  justify-content: center;width:100%;height:100%;}
  .btn-default, .btn-default:link, .btn-default:visited, .btn-default:hover, .btn-default:active {
    color: #fff;
    font-size: 24px;
    text-align: center;
    display: inline-block;
    border: 2px solid #eee;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.8);
    box-shadow: 0 0 5px rgba(0,0,0,0.8);
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 15px 50px;
}
.btn-default:hover, .btn-default:active {
    background-color: #43A6F3;
    border-color: #43A6F3;
}
.minttext1{font-size:30px;}
.minttext2{font-size:22px;}
.minttext3{font-size:36px;}
.amount-group
{
    margin-bottom: 30px;
}
@media screen and (max-width:1200px)
{
.header-text h3
{
	font-family:'Kaushan Script', cursive;
	text-shadow:0px 0px 20px #000;
	font-size:3.6vw;
	border-bottom-width:0px;
	
}
.content1{margin-left:40px;margin-right:40px;}
.content2{margin-left:40px;margin-right:40px;}
}
@media screen and (max-width:768px)
{
.minttext1{font-size:20px;}
.minttext2{font-size:16px;}
.minttext3{font-size:24px;}
.ffpage1{height:auto;}
.ffpage2{height:auto;padding-top:50px;}
.fpage1{height:1200px !important;}
.fpage2{height:1650px !important;}
.header-text h3
{
	font-family:'Kaushan Script', cursive;
	text-shadow:0px 0px 20px #000;
	font-size:4.6vw;
	border-bottom-width:0px;
	
}
.content1{margin-left:20px;margin-right:20px;}
.content2{margin-left:20px;margin-right:20px;}
.btn-default, .btn-default:link, .btn-default:visited, .btn-default:hover, .btn-default:active{padding: 15px 30px;}
}
.btn-default{
	cursor: pointer;
}